.firefly {
  position: fixed;
  left: 25%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none; }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw; }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite; }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw silver;
    animation: drift ease alternate infinite, flash ease infinite; }

.firefly:nth-child(1) {
  animation-name: move1; }
  .firefly:nth-child(1)::before {
    animation-duration: 12s; }
  .firefly:nth-child(1)::after {
    animation-duration: 12s, 7058ms;
    animation-delay: 0ms, 5325ms; }

@keyframes move1 {
  0% {
    transform: translateX(-36vw) translateY(-19vh) scale(0.57); }
  3.7037037037% {
    transform: translateX(-15vw) translateY(-30vh) scale(0.9); }
  7.4074074074% {
    transform: translateX(-24vw) translateY(9vh) scale(0.39); }
  11.1111111111% {
    transform: translateX(-21vw) translateY(-29vh) scale(0.91); }
  14.8148148148% {
    transform: translateX(25vw) translateY(27vh) scale(0.55); }
  18.5185185185% {
    transform: translateX(-23vw) translateY(41vh) scale(0.96); }
  22.2222222222% {
    transform: translateX(40vw) translateY(48vh) scale(0.32); }
  25.9259259259% {
    transform: translateX(0vw) translateY(-35vh) scale(0.98); }
  29.6296296296% {
    transform: translateX(48vw) translateY(36vh) scale(0.3); }
  33.3333333333% {
    transform: translateX(-48vw) translateY(11vh) scale(0.75); }
  37.037037037% {
    transform: translateX(-31vw) translateY(29vh) scale(0.45); }
  40.7407407407% {
    transform: translateX(29vw) translateY(24vh) scale(0.47); }
  44.4444444444% {
    transform: translateX(-49vw) translateY(8vh) scale(0.59); }
  48.1481481481% {
    transform: translateX(32vw) translateY(46vh) scale(0.33); }
  51.8518518519% {
    transform: translateX(39vw) translateY(-2vh) scale(0.97); }
  55.5555555556% {
    transform: translateX(19vw) translateY(15vh) scale(0.69); }
  59.2592592593% {
    transform: translateX(-20vw) translateY(41vh) scale(0.27); }
  62.962962963% {
    transform: translateX(-42vw) translateY(46vh) scale(0.43); }
  66.6666666667% {
    transform: translateX(6vw) translateY(46vh) scale(0.94); }
  70.3703703704% {
    transform: translateX(-10vw) translateY(-12vh) scale(0.28); }
  74.0740740741% {
    transform: translateX(-24vw) translateY(8vh) scale(0.78); }
  77.7777777778% {
    transform: translateX(-45vw) translateY(34vh) scale(0.59); }
  81.4814814815% {
    transform: translateX(38vw) translateY(-18vh) scale(0.49); }
  85.1851851852% {
    transform: translateX(-11vw) translateY(-8vh) scale(1); }
  88.8888888889% {
    transform: translateX(49vw) translateY(48vh) scale(0.4); }
  92.5925925926% {
    transform: translateX(-21vw) translateY(44vh) scale(0.6); }
  96.2962962963% {
    transform: translateX(32vw) translateY(10vh) scale(0.93); }
  100% {
    transform: translateX(24vw) translateY(33vh) scale(0.65); } }
.firefly:nth-child(2) {
  animation-name: move2; }
  .firefly:nth-child(2)::before {
    animation-duration: 15s; }
  .firefly:nth-child(2)::after {
    animation-duration: 15s, 10412ms;
    animation-delay: 0ms, 7713ms; }

@keyframes move2 {
  0% {
    transform: translateX(48vw) translateY(-34vh) scale(0.48); }
  5% {
    transform: translateX(-41vw) translateY(49vh) scale(0.7); }
  10% {
    transform: translateX(4vw) translateY(4vh) scale(0.73); }
  15% {
    transform: translateX(43vw) translateY(-28vh) scale(0.58); }
  20% {
    transform: translateX(1vw) translateY(40vh) scale(0.86); }
  25% {
    transform: translateX(-29vw) translateY(-11vh) scale(0.78); }
  30% {
    transform: translateX(34vw) translateY(-13vh) scale(0.65); }
  35% {
    transform: translateX(-46vw) translateY(-46vh) scale(0.65); }
  40% {
    transform: translateX(-7vw) translateY(-36vh) scale(0.49); }
  45% {
    transform: translateX(-43vw) translateY(25vh) scale(0.87); }
  50% {
    transform: translateX(-35vw) translateY(-45vh) scale(0.9); }
  55% {
    transform: translateX(-36vw) translateY(30vh) scale(0.66); }
  60% {
    transform: translateX(23vw) translateY(36vh) scale(0.3); }
  65% {
    transform: translateX(19vw) translateY(-33vh) scale(0.64); }
  70% {
    transform: translateX(36vw) translateY(24vh) scale(0.26); }
  75% {
    transform: translateX(-1vw) translateY(35vh) scale(0.73); }
  80% {
    transform: translateX(-18vw) translateY(-6vh) scale(0.69); }
  85% {
    transform: translateX(36vw) translateY(-21vh) scale(0.96); }
  90% {
    transform: translateX(-33vw) translateY(-15vh) scale(0.82); }
  95% {
    transform: translateX(8vw) translateY(-20vh) scale(0.35); }
  100% {
    transform: translateX(-1vw) translateY(6vh) scale(0.4); } }
.firefly:nth-child(3) {
  animation-name: move3; }
  .firefly:nth-child(3)::before {
    animation-duration: 10s; }
  .firefly:nth-child(3)::after {
    animation-duration: 10s, 7230ms;
    animation-delay: 0ms, 2810ms; }

@keyframes move3 {
  0% {
    transform: translateX(18vw) translateY(10vh) scale(0.77); }
  4% {
    transform: translateX(-19vw) translateY(29vh) scale(0.53); }
  8% {
    transform: translateX(-25vw) translateY(-11vh) scale(0.56); }
  12% {
    transform: translateX(-2vw) translateY(46vh) scale(0.7); }
  16% {
    transform: translateX(-1vw) translateY(24vh) scale(0.74); }
  20% {
    transform: translateX(35vw) translateY(24vh) scale(0.27); }
  24% {
    transform: translateX(-5vw) translateY(16vh) scale(0.46); }
  28% {
    transform: translateX(46vw) translateY(-22vh) scale(0.62); }
  32% {
    transform: translateX(-19vw) translateY(-1vh) scale(0.31); }
  36% {
    transform: translateX(-38vw) translateY(-47vh) scale(0.46); }
  40% {
    transform: translateX(29vw) translateY(-24vh) scale(0.72); }
  44% {
    transform: translateX(-38vw) translateY(-26vh) scale(0.98); }
  48% {
    transform: translateX(41vw) translateY(-44vh) scale(0.47); }
  52% {
    transform: translateX(-13vw) translateY(-4vh) scale(0.5); }
  56% {
    transform: translateX(45vw) translateY(1vh) scale(0.84); }
  60% {
    transform: translateX(17vw) translateY(-45vh) scale(0.88); }
  64% {
    transform: translateX(-19vw) translateY(46vh) scale(0.71); }
  68% {
    transform: translateX(-44vw) translateY(-39vh) scale(0.98); }
  72% {
    transform: translateX(20vw) translateY(-29vh) scale(0.81); }
  76% {
    transform: translateX(16vw) translateY(45vh) scale(0.48); }
  80% {
    transform: translateX(30vw) translateY(43vh) scale(0.36); }
  84% {
    transform: translateX(-15vw) translateY(-6vh) scale(0.55); }
  88% {
    transform: translateX(36vw) translateY(-44vh) scale(0.61); }
  92% {
    transform: translateX(29vw) translateY(45vh) scale(0.4); }
  96% {
    transform: translateX(-35vw) translateY(3vh) scale(0.91); }
  100% {
    transform: translateX(-33vw) translateY(35vh) scale(0.88); } }
.firefly:nth-child(4) {
  animation-name: move4; }
  .firefly:nth-child(4)::before {
    animation-duration: 9s; }
  .firefly:nth-child(4)::after {
    animation-duration: 9s, 7660ms;
    animation-delay: 0ms, 5404ms; }

@keyframes move4 {
  0% {
    transform: translateX(24vw) translateY(-49vh) scale(0.53); }
  5.8823529412% {
    transform: translateX(-14vw) translateY(-45vh) scale(0.27); }
  11.7647058824% {
    transform: translateX(4vw) translateY(-45vh) scale(0.72); }
  17.6470588235% {
    transform: translateX(-49vw) translateY(-45vh) scale(0.62); }
  23.5294117647% {
    transform: translateX(6vw) translateY(-39vh) scale(0.79); }
  29.4117647059% {
    transform: translateX(0vw) translateY(30vh) scale(0.52); }
  35.2941176471% {
    transform: translateX(-18vw) translateY(-9vh) scale(0.66); }
  41.1764705882% {
    transform: translateX(-14vw) translateY(44vh) scale(0.48); }
  47.0588235294% {
    transform: translateX(-44vw) translateY(-30vh) scale(0.71); }
  52.9411764706% {
    transform: translateX(3vw) translateY(14vh) scale(0.53); }
  58.8235294118% {
    transform: translateX(0vw) translateY(-28vh) scale(0.86); }
  64.7058823529% {
    transform: translateX(-11vw) translateY(-19vh) scale(0.85); }
  70.5882352941% {
    transform: translateX(47vw) translateY(-29vh) scale(0.86); }
  76.4705882353% {
    transform: translateX(22vw) translateY(12vh) scale(0.94); }
  82.3529411765% {
    transform: translateX(-35vw) translateY(37vh) scale(0.38); }
  88.2352941176% {
    transform: translateX(-3vw) translateY(-28vh) scale(0.94); }
  94.1176470588% {
    transform: translateX(30vw) translateY(-46vh) scale(0.37); }
  100% {
    transform: translateX(24vw) translateY(28vh) scale(0.63); } }
.firefly:nth-child(5) {
  animation-name: move5; }
  .firefly:nth-child(5)::before {
    animation-duration: 10s; }
  .firefly:nth-child(5)::after {
    animation-duration: 10s, 5884ms;
    animation-delay: 0ms, 754ms; }

@keyframes move5 {
  0% {
    transform: translateX(34vw) translateY(-42vh) scale(0.46); }
  3.7037037037% {
    transform: translateX(-7vw) translateY(43vh) scale(0.47); }
  7.4074074074% {
    transform: translateX(-9vw) translateY(-47vh) scale(0.41); }
  11.1111111111% {
    transform: translateX(-37vw) translateY(-26vh) scale(0.62); }
  14.8148148148% {
    transform: translateX(-47vw) translateY(35vh) scale(0.28); }
  18.5185185185% {
    transform: translateX(8vw) translateY(6vh) scale(0.32); }
  22.2222222222% {
    transform: translateX(21vw) translateY(49vh) scale(0.38); }
  25.9259259259% {
    transform: translateX(-46vw) translateY(17vh) scale(0.38); }
  29.6296296296% {
    transform: translateX(-39vw) translateY(49vh) scale(0.56); }
  33.3333333333% {
    transform: translateX(34vw) translateY(1vh) scale(0.89); }
  37.037037037% {
    transform: translateX(-27vw) translateY(-40vh) scale(0.65); }
  40.7407407407% {
    transform: translateX(-30vw) translateY(-25vh) scale(0.42); }
  44.4444444444% {
    transform: translateX(22vw) translateY(6vh) scale(0.93); }
  48.1481481481% {
    transform: translateX(44vw) translateY(-46vh) scale(0.54); }
  51.8518518519% {
    transform: translateX(-30vw) translateY(-11vh) scale(0.26); }
  55.5555555556% {
    transform: translateX(29vw) translateY(11vh) scale(0.74); }
  59.2592592593% {
    transform: translateX(38vw) translateY(49vh) scale(0.93); }
  62.962962963% {
    transform: translateX(-15vw) translateY(-29vh) scale(0.8); }
  66.6666666667% {
    transform: translateX(-10vw) translateY(-2vh) scale(0.49); }
  70.3703703704% {
    transform: translateX(44vw) translateY(49vh) scale(0.96); }
  74.0740740741% {
    transform: translateX(-24vw) translateY(33vh) scale(0.76); }
  77.7777777778% {
    transform: translateX(-24vw) translateY(31vh) scale(0.96); }
  81.4814814815% {
    transform: translateX(27vw) translateY(-22vh) scale(0.93); }
  85.1851851852% {
    transform: translateX(-7vw) translateY(-24vh) scale(0.95); }
  88.8888888889% {
    transform: translateX(45vw) translateY(4vh) scale(0.64); }
  92.5925925926% {
    transform: translateX(-2vw) translateY(-25vh) scale(0.98); }
  96.2962962963% {
    transform: translateX(-45vw) translateY(-44vh) scale(0.28); }
  100% {
    transform: translateX(-22vw) translateY(-37vh) scale(0.84); } }
.firefly:nth-child(6) {
  animation-name: move6; }
  .firefly:nth-child(6)::before {
    animation-duration: 14s; }
  .firefly:nth-child(6)::after {
    animation-duration: 14s, 8056ms;
    animation-delay: 0ms, 2026ms; }

@keyframes move6 {
  0% {
    transform: translateX(-31vw) translateY(-15vh) scale(0.66); }
  5.8823529412% {
    transform: translateX(-48vw) translateY(-30vh) scale(0.97); }
  11.7647058824% {
    transform: translateX(-8vw) translateY(7vh) scale(0.66); }
  17.6470588235% {
    transform: translateX(14vw) translateY(14vh) scale(0.37); }
  23.5294117647% {
    transform: translateX(-4vw) translateY(-31vh) scale(0.94); }
  29.4117647059% {
    transform: translateX(45vw) translateY(40vh) scale(0.58); }
  35.2941176471% {
    transform: translateX(0vw) translateY(27vh) scale(0.71); }
  41.1764705882% {
    transform: translateX(-44vw) translateY(13vh) scale(0.3); }
  47.0588235294% {
    transform: translateX(3vw) translateY(32vh) scale(0.99); }
  52.9411764706% {
    transform: translateX(10vw) translateY(45vh) scale(0.69); }
  58.8235294118% {
    transform: translateX(31vw) translateY(-5vh) scale(0.58); }
  64.7058823529% {
    transform: translateX(-13vw) translateY(44vh) scale(0.76); }
  70.5882352941% {
    transform: translateX(-41vw) translateY(-16vh) scale(0.71); }
  76.4705882353% {
    transform: translateX(4vw) translateY(-15vh) scale(0.71); }
  82.3529411765% {
    transform: translateX(-25vw) translateY(44vh) scale(0.84); }
  88.2352941176% {
    transform: translateX(-37vw) translateY(47vh) scale(1); }
  94.1176470588% {
    transform: translateX(-41vw) translateY(-43vh) scale(0.67); }
  100% {
    transform: translateX(27vw) translateY(-1vh) scale(0.91); } }
.firefly:nth-child(7) {
  animation-name: move7; }
  .firefly:nth-child(7)::before {
    animation-duration: 12s; }
  .firefly:nth-child(7)::after {
    animation-duration: 12s, 7295ms;
    animation-delay: 0ms, 4326ms; }

@keyframes move7 {
  0% {
    transform: translateX(-21vw) translateY(34vh) scale(0.34); }
  5% {
    transform: translateX(36vw) translateY(8vh) scale(0.32); }
  10% {
    transform: translateX(48vw) translateY(-25vh) scale(0.85); }
  15% {
    transform: translateX(-1vw) translateY(-14vh) scale(0.85); }
  20% {
    transform: translateX(13vw) translateY(-25vh) scale(0.44); }
  25% {
    transform: translateX(29vw) translateY(43vh) scale(0.45); }
  30% {
    transform: translateX(39vw) translateY(-44vh) scale(0.59); }
  35% {
    transform: translateX(10vw) translateY(12vh) scale(0.34); }
  40% {
    transform: translateX(12vw) translateY(-5vh) scale(0.59); }
  45% {
    transform: translateX(3vw) translateY(-3vh) scale(0.5); }
  50% {
    transform: translateX(27vw) translateY(-19vh) scale(0.79); }
  55% {
    transform: translateX(-21vw) translateY(-46vh) scale(0.41); }
  60% {
    transform: translateX(-37vw) translateY(36vh) scale(0.88); }
  65% {
    transform: translateX(-41vw) translateY(-27vh) scale(0.66); }
  70% {
    transform: translateX(17vw) translateY(46vh) scale(0.47); }
  75% {
    transform: translateX(7vw) translateY(45vh) scale(0.87); }
  80% {
    transform: translateX(-34vw) translateY(-9vh) scale(0.52); }
  85% {
    transform: translateX(31vw) translateY(5vh) scale(0.69); }
  90% {
    transform: translateX(-43vw) translateY(-29vh) scale(0.66); }
  95% {
    transform: translateX(39vw) translateY(46vh) scale(0.85); }
  100% {
    transform: translateX(46vw) translateY(15vh) scale(0.97); } }
.firefly:nth-child(8) {
  animation-name: move8; }
  .firefly:nth-child(8)::before {
    animation-duration: 13s; }
  .firefly:nth-child(8)::after {
    animation-duration: 13s, 10169ms;
    animation-delay: 0ms, 4338ms; }

@keyframes move8 {
  0% {
    transform: translateX(7vw) translateY(-6vh) scale(0.55); }
  5.8823529412% {
    transform: translateX(12vw) translateY(-39vh) scale(0.73); }
  11.7647058824% {
    transform: translateX(34vw) translateY(33vh) scale(0.87); }
  17.6470588235% {
    transform: translateX(-15vw) translateY(38vh) scale(0.54); }
  23.5294117647% {
    transform: translateX(10vw) translateY(19vh) scale(0.54); }
  29.4117647059% {
    transform: translateX(1vw) translateY(-9vh) scale(0.45); }
  35.2941176471% {
    transform: translateX(35vw) translateY(18vh) scale(0.53); }
  41.1764705882% {
    transform: translateX(-18vw) translateY(34vh) scale(0.96); }
  47.0588235294% {
    transform: translateX(-41vw) translateY(-44vh) scale(0.47); }
  52.9411764706% {
    transform: translateX(4vw) translateY(-20vh) scale(1); }
  58.8235294118% {
    transform: translateX(-44vw) translateY(22vh) scale(0.69); }
  64.7058823529% {
    transform: translateX(9vw) translateY(41vh) scale(0.28); }
  70.5882352941% {
    transform: translateX(50vw) translateY(-45vh) scale(0.44); }
  76.4705882353% {
    transform: translateX(12vw) translateY(47vh) scale(0.58); }
  82.3529411765% {
    transform: translateX(3vw) translateY(-13vh) scale(0.45); }
  88.2352941176% {
    transform: translateX(-29vw) translateY(1vh) scale(0.83); }
  94.1176470588% {
    transform: translateX(15vw) translateY(-2vh) scale(0.45); }
  100% {
    transform: translateX(-15vw) translateY(-15vh) scale(0.3); } }
.firefly:nth-child(9) {
  animation-name: move9; }
  .firefly:nth-child(9)::before {
    animation-duration: 11s; }
  .firefly:nth-child(9)::after {
    animation-duration: 11s, 7451ms;
    animation-delay: 0ms, 5353ms; }

@keyframes move9 {
  0% {
    transform: translateX(28vw) translateY(18vh) scale(0.44); }
  3.8461538462% {
    transform: translateX(-43vw) translateY(7vh) scale(0.62); }
  7.6923076923% {
    transform: translateX(28vw) translateY(-10vh) scale(0.51); }
  11.5384615385% {
    transform: translateX(49vw) translateY(-1vh) scale(0.45); }
  15.3846153846% {
    transform: translateX(39vw) translateY(32vh) scale(0.76); }
  19.2307692308% {
    transform: translateX(-26vw) translateY(20vh) scale(0.64); }
  23.0769230769% {
    transform: translateX(48vw) translateY(-15vh) scale(0.47); }
  26.9230769231% {
    transform: translateX(-11vw) translateY(-7vh) scale(0.64); }
  30.7692307692% {
    transform: translateX(30vw) translateY(47vh) scale(0.32); }
  34.6153846154% {
    transform: translateX(-42vw) translateY(24vh) scale(0.53); }
  38.4615384615% {
    transform: translateX(5vw) translateY(-18vh) scale(0.93); }
  42.3076923077% {
    transform: translateX(44vw) translateY(-2vh) scale(0.76); }
  46.1538461538% {
    transform: translateX(27vw) translateY(24vh) scale(0.76); }
  50% {
    transform: translateX(39vw) translateY(-40vh) scale(0.92); }
  53.8461538462% {
    transform: translateX(-21vw) translateY(6vh) scale(0.32); }
  57.6923076923% {
    transform: translateX(22vw) translateY(31vh) scale(0.65); }
  61.5384615385% {
    transform: translateX(36vw) translateY(49vh) scale(0.59); }
  65.3846153846% {
    transform: translateX(-6vw) translateY(-15vh) scale(0.91); }
  69.2307692308% {
    transform: translateX(45vw) translateY(30vh) scale(0.52); }
  73.0769230769% {
    transform: translateX(12vw) translateY(22vh) scale(0.65); }
  76.9230769231% {
    transform: translateX(16vw) translateY(-11vh) scale(0.65); }
  80.7692307692% {
    transform: translateX(46vw) translateY(26vh) scale(0.72); }
  84.6153846154% {
    transform: translateX(27vw) translateY(37vh) scale(0.39); }
  88.4615384615% {
    transform: translateX(16vw) translateY(-7vh) scale(0.85); }
  92.3076923077% {
    transform: translateX(28vw) translateY(-29vh) scale(0.8); }
  96.1538461538% {
    transform: translateX(43vw) translateY(-39vh) scale(1); }
  100% {
    transform: translateX(45vw) translateY(-3vh) scale(0.32); } }
.firefly:nth-child(10) {
  animation-name: move10; }
  .firefly:nth-child(10)::before {
    animation-duration: 16s; }
  .firefly:nth-child(10)::after {
    animation-duration: 16s, 7474ms;
    animation-delay: 0ms, 4138ms; }

@keyframes move10 {
  0% {
    transform: translateX(0vw) translateY(23vh) scale(0.96); }
  3.8461538462% {
    transform: translateX(-27vw) translateY(-47vh) scale(0.62); }
  7.6923076923% {
    transform: translateX(38vw) translateY(33vh) scale(0.97); }
  11.5384615385% {
    transform: translateX(38vw) translateY(-42vh) scale(0.33); }
  15.3846153846% {
    transform: translateX(43vw) translateY(-20vh) scale(0.78); }
  19.2307692308% {
    transform: translateX(-8vw) translateY(4vh) scale(0.82); }
  23.0769230769% {
    transform: translateX(-46vw) translateY(-21vh) scale(0.88); }
  26.9230769231% {
    transform: translateX(32vw) translateY(-15vh) scale(0.83); }
  30.7692307692% {
    transform: translateX(-19vw) translateY(44vh) scale(0.62); }
  34.6153846154% {
    transform: translateX(-21vw) translateY(30vh) scale(0.9); }
  38.4615384615% {
    transform: translateX(-8vw) translateY(-41vh) scale(0.93); }
  42.3076923077% {
    transform: translateX(-36vw) translateY(-44vh) scale(0.57); }
  46.1538461538% {
    transform: translateX(-5vw) translateY(32vh) scale(0.58); }
  50% {
    transform: translateX(-18vw) translateY(31vh) scale(0.99); }
  53.8461538462% {
    transform: translateX(12vw) translateY(-38vh) scale(0.54); }
  57.6923076923% {
    transform: translateX(-37vw) translateY(-32vh) scale(0.76); }
  61.5384615385% {
    transform: translateX(38vw) translateY(26vh) scale(0.81); }
  65.3846153846% {
    transform: translateX(-6vw) translateY(29vh) scale(0.92); }
  69.2307692308% {
    transform: translateX(34vw) translateY(8vh) scale(0.95); }
  73.0769230769% {
    transform: translateX(-36vw) translateY(-32vh) scale(0.7); }
  76.9230769231% {
    transform: translateX(-36vw) translateY(-23vh) scale(0.46); }
  80.7692307692% {
    transform: translateX(13vw) translateY(24vh) scale(0.45); }
  84.6153846154% {
    transform: translateX(-46vw) translateY(42vh) scale(0.85); }
  88.4615384615% {
    transform: translateX(-27vw) translateY(38vh) scale(0.81); }
  92.3076923077% {
    transform: translateX(-22vw) translateY(-44vh) scale(0.68); }
  96.1538461538% {
    transform: translateX(19vw) translateY(3vh) scale(0.53); }
  100% {
    transform: translateX(-12vw) translateY(-44vh) scale(0.72); } }
@keyframes drift {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw silver; }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw silver; } }
