.firefly {
  position: fixed;
  left: 25%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none; }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw; }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite; }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw silver;
    animation: drift ease alternate infinite, flash ease infinite; }

.firefly:nth-child(1) {
  animation-name: move1; }
  .firefly:nth-child(1)::before {
    animation-duration: 10s; }
  .firefly:nth-child(1)::after {
    animation-duration: 10s, 10600ms;
    animation-delay: 0ms, 2176ms; }

@keyframes move1 {
  0% {
    transform: translateX(-24vw) translateY(41vh) scale(0.72); }
  3.7037037037% {
    transform: translateX(-15vw) translateY(31vh) scale(0.49); }
  7.4074074074% {
    transform: translateX(-23vw) translateY(-9vh) scale(0.31); }
  11.1111111111% {
    transform: translateX(6vw) translateY(19vh) scale(0.95); }
  14.8148148148% {
    transform: translateX(-44vw) translateY(-26vh) scale(0.6); }
  18.5185185185% {
    transform: translateX(-34vw) translateY(-24vh) scale(0.99); }
  22.2222222222% {
    transform: translateX(-48vw) translateY(9vh) scale(0.42); }
  25.9259259259% {
    transform: translateX(39vw) translateY(35vh) scale(0.72); }
  29.6296296296% {
    transform: translateX(21vw) translateY(7vh) scale(0.84); }
  33.3333333333% {
    transform: translateX(-14vw) translateY(14vh) scale(0.34); }
  37.037037037% {
    transform: translateX(45vw) translateY(-42vh) scale(0.97); }
  40.7407407407% {
    transform: translateX(-32vw) translateY(-22vh) scale(0.41); }
  44.4444444444% {
    transform: translateX(5vw) translateY(-2vh) scale(0.26); }
  48.1481481481% {
    transform: translateX(-16vw) translateY(49vh) scale(0.71); }
  51.8518518519% {
    transform: translateX(38vw) translateY(23vh) scale(0.66); }
  55.5555555556% {
    transform: translateX(-11vw) translateY(-21vh) scale(0.63); }
  59.2592592593% {
    transform: translateX(-26vw) translateY(29vh) scale(0.32); }
  62.962962963% {
    transform: translateX(22vw) translateY(13vh) scale(0.91); }
  66.6666666667% {
    transform: translateX(1vw) translateY(-13vh) scale(0.91); }
  70.3703703704% {
    transform: translateX(16vw) translateY(41vh) scale(0.38); }
  74.0740740741% {
    transform: translateX(-26vw) translateY(37vh) scale(0.51); }
  77.7777777778% {
    transform: translateX(32vw) translateY(-9vh) scale(0.37); }
  81.4814814815% {
    transform: translateX(21vw) translateY(7vh) scale(0.99); }
  85.1851851852% {
    transform: translateX(36vw) translateY(-35vh) scale(0.49); }
  88.8888888889% {
    transform: translateX(-45vw) translateY(32vh) scale(0.48); }
  92.5925925926% {
    transform: translateX(-36vw) translateY(31vh) scale(0.26); }
  96.2962962963% {
    transform: translateX(24vw) translateY(44vh) scale(0.35); }
  100% {
    transform: translateX(24vw) translateY(38vh) scale(0.35); } }
.firefly:nth-child(2) {
  animation-name: move2; }
  .firefly:nth-child(2)::before {
    animation-duration: 13s; }
  .firefly:nth-child(2)::after {
    animation-duration: 13s, 9537ms;
    animation-delay: 0ms, 7075ms; }

@keyframes move2 {
  0% {
    transform: translateX(24vw) translateY(-26vh) scale(0.52); }
  3.7037037037% {
    transform: translateX(-47vw) translateY(-43vh) scale(0.66); }
  7.4074074074% {
    transform: translateX(-27vw) translateY(-44vh) scale(0.5); }
  11.1111111111% {
    transform: translateX(34vw) translateY(15vh) scale(0.84); }
  14.8148148148% {
    transform: translateX(26vw) translateY(-13vh) scale(0.8); }
  18.5185185185% {
    transform: translateX(24vw) translateY(8vh) scale(0.96); }
  22.2222222222% {
    transform: translateX(6vw) translateY(9vh) scale(0.89); }
  25.9259259259% {
    transform: translateX(-1vw) translateY(38vh) scale(0.91); }
  29.6296296296% {
    transform: translateX(8vw) translateY(3vh) scale(0.57); }
  33.3333333333% {
    transform: translateX(8vw) translateY(-11vh) scale(0.82); }
  37.037037037% {
    transform: translateX(24vw) translateY(-45vh) scale(0.69); }
  40.7407407407% {
    transform: translateX(-22vw) translateY(20vh) scale(0.95); }
  44.4444444444% {
    transform: translateX(-30vw) translateY(-15vh) scale(0.38); }
  48.1481481481% {
    transform: translateX(-29vw) translateY(38vh) scale(0.99); }
  51.8518518519% {
    transform: translateX(14vw) translateY(-17vh) scale(0.4); }
  55.5555555556% {
    transform: translateX(-4vw) translateY(-6vh) scale(0.39); }
  59.2592592593% {
    transform: translateX(-1vw) translateY(-4vh) scale(0.26); }
  62.962962963% {
    transform: translateX(-19vw) translateY(-2vh) scale(0.81); }
  66.6666666667% {
    transform: translateX(-34vw) translateY(6vh) scale(0.29); }
  70.3703703704% {
    transform: translateX(27vw) translateY(-29vh) scale(0.52); }
  74.0740740741% {
    transform: translateX(34vw) translateY(-38vh) scale(0.32); }
  77.7777777778% {
    transform: translateX(-49vw) translateY(17vh) scale(0.39); }
  81.4814814815% {
    transform: translateX(20vw) translateY(-2vh) scale(0.64); }
  85.1851851852% {
    transform: translateX(27vw) translateY(40vh) scale(0.8); }
  88.8888888889% {
    transform: translateX(-30vw) translateY(28vh) scale(0.71); }
  92.5925925926% {
    transform: translateX(26vw) translateY(-24vh) scale(0.31); }
  96.2962962963% {
    transform: translateX(0vw) translateY(-32vh) scale(0.96); }
  100% {
    transform: translateX(4vw) translateY(46vh) scale(0.52); } }
.firefly:nth-child(3) {
  animation-name: move3; }
  .firefly:nth-child(3)::before {
    animation-duration: 10s; }
  .firefly:nth-child(3)::after {
    animation-duration: 10s, 9411ms;
    animation-delay: 0ms, 4888ms; }

@keyframes move3 {
  0% {
    transform: translateX(-12vw) translateY(9vh) scale(0.5); }
  4.7619047619% {
    transform: translateX(1vw) translateY(-6vh) scale(0.93); }
  9.5238095238% {
    transform: translateX(-4vw) translateY(2vh) scale(0.27); }
  14.2857142857% {
    transform: translateX(-48vw) translateY(-21vh) scale(0.32); }
  19.0476190476% {
    transform: translateX(3vw) translateY(-33vh) scale(0.76); }
  23.8095238095% {
    transform: translateX(-48vw) translateY(28vh) scale(0.72); }
  28.5714285714% {
    transform: translateX(-15vw) translateY(24vh) scale(0.58); }
  33.3333333333% {
    transform: translateX(28vw) translateY(-27vh) scale(1); }
  38.0952380952% {
    transform: translateX(-2vw) translateY(-46vh) scale(0.76); }
  42.8571428571% {
    transform: translateX(-18vw) translateY(-38vh) scale(0.57); }
  47.619047619% {
    transform: translateX(43vw) translateY(22vh) scale(0.85); }
  52.380952381% {
    transform: translateX(-28vw) translateY(-35vh) scale(0.83); }
  57.1428571429% {
    transform: translateX(-40vw) translateY(49vh) scale(0.52); }
  61.9047619048% {
    transform: translateX(9vw) translateY(-19vh) scale(0.62); }
  66.6666666667% {
    transform: translateX(10vw) translateY(8vh) scale(0.68); }
  71.4285714286% {
    transform: translateX(-35vw) translateY(-13vh) scale(0.57); }
  76.1904761905% {
    transform: translateX(6vw) translateY(43vh) scale(0.31); }
  80.9523809524% {
    transform: translateX(-25vw) translateY(-44vh) scale(0.35); }
  85.7142857143% {
    transform: translateX(40vw) translateY(19vh) scale(0.35); }
  90.4761904762% {
    transform: translateX(-5vw) translateY(-11vh) scale(0.27); }
  95.2380952381% {
    transform: translateX(11vw) translateY(4vh) scale(0.73); }
  100% {
    transform: translateX(-29vw) translateY(-27vh) scale(0.48); } }
.firefly:nth-child(4) {
  animation-name: move4; }
  .firefly:nth-child(4)::before {
    animation-duration: 17s; }
  .firefly:nth-child(4)::after {
    animation-duration: 17s, 9344ms;
    animation-delay: 0ms, 5922ms; }

@keyframes move4 {
  0% {
    transform: translateX(42vw) translateY(-32vh) scale(0.55); }
  3.5714285714% {
    transform: translateX(11vw) translateY(10vh) scale(0.58); }
  7.1428571429% {
    transform: translateX(-23vw) translateY(-42vh) scale(0.75); }
  10.7142857143% {
    transform: translateX(-2vw) translateY(40vh) scale(0.44); }
  14.2857142857% {
    transform: translateX(-41vw) translateY(36vh) scale(0.8); }
  17.8571428571% {
    transform: translateX(-11vw) translateY(-18vh) scale(0.67); }
  21.4285714286% {
    transform: translateX(12vw) translateY(0vh) scale(0.44); }
  25% {
    transform: translateX(-49vw) translateY(31vh) scale(0.31); }
  28.5714285714% {
    transform: translateX(-17vw) translateY(-42vh) scale(0.53); }
  32.1428571429% {
    transform: translateX(44vw) translateY(43vh) scale(0.8); }
  35.7142857143% {
    transform: translateX(-37vw) translateY(27vh) scale(0.27); }
  39.2857142857% {
    transform: translateX(-12vw) translateY(9vh) scale(0.56); }
  42.8571428571% {
    transform: translateX(21vw) translateY(-27vh) scale(0.94); }
  46.4285714286% {
    transform: translateX(-32vw) translateY(-29vh) scale(0.36); }
  50% {
    transform: translateX(-18vw) translateY(38vh) scale(0.26); }
  53.5714285714% {
    transform: translateX(-23vw) translateY(14vh) scale(0.53); }
  57.1428571429% {
    transform: translateX(32vw) translateY(38vh) scale(0.93); }
  60.7142857143% {
    transform: translateX(-14vw) translateY(35vh) scale(0.71); }
  64.2857142857% {
    transform: translateX(-25vw) translateY(49vh) scale(0.57); }
  67.8571428571% {
    transform: translateX(3vw) translateY(-2vh) scale(0.4); }
  71.4285714286% {
    transform: translateX(-46vw) translateY(32vh) scale(0.75); }
  75% {
    transform: translateX(-35vw) translateY(-15vh) scale(0.3); }
  78.5714285714% {
    transform: translateX(16vw) translateY(-26vh) scale(0.49); }
  82.1428571429% {
    transform: translateX(41vw) translateY(22vh) scale(0.87); }
  85.7142857143% {
    transform: translateX(-32vw) translateY(-43vh) scale(0.51); }
  89.2857142857% {
    transform: translateX(42vw) translateY(15vh) scale(0.66); }
  92.8571428571% {
    transform: translateX(6vw) translateY(-23vh) scale(0.49); }
  96.4285714286% {
    transform: translateX(-32vw) translateY(-21vh) scale(0.31); }
  100% {
    transform: translateX(-44vw) translateY(-35vh) scale(0.33); } }
.firefly:nth-child(5) {
  animation-name: move5; }
  .firefly:nth-child(5)::before {
    animation-duration: 15s; }
  .firefly:nth-child(5)::after {
    animation-duration: 15s, 10651ms;
    animation-delay: 0ms, 5107ms; }

@keyframes move5 {
  0% {
    transform: translateX(-9vw) translateY(19vh) scale(0.85); }
  5.5555555556% {
    transform: translateX(-33vw) translateY(9vh) scale(0.88); }
  11.1111111111% {
    transform: translateX(-30vw) translateY(25vh) scale(0.39); }
  16.6666666667% {
    transform: translateX(45vw) translateY(-13vh) scale(0.59); }
  22.2222222222% {
    transform: translateX(-32vw) translateY(-6vh) scale(0.36); }
  27.7777777778% {
    transform: translateX(-26vw) translateY(7vh) scale(0.97); }
  33.3333333333% {
    transform: translateX(34vw) translateY(46vh) scale(0.31); }
  38.8888888889% {
    transform: translateX(-48vw) translateY(-5vh) scale(0.48); }
  44.4444444444% {
    transform: translateX(18vw) translateY(47vh) scale(0.26); }
  50% {
    transform: translateX(46vw) translateY(-8vh) scale(0.82); }
  55.5555555556% {
    transform: translateX(38vw) translateY(10vh) scale(0.35); }
  61.1111111111% {
    transform: translateX(-42vw) translateY(43vh) scale(0.56); }
  66.6666666667% {
    transform: translateX(-39vw) translateY(-39vh) scale(0.74); }
  72.2222222222% {
    transform: translateX(27vw) translateY(24vh) scale(0.59); }
  77.7777777778% {
    transform: translateX(10vw) translateY(47vh) scale(0.56); }
  83.3333333333% {
    transform: translateX(-43vw) translateY(38vh) scale(0.64); }
  88.8888888889% {
    transform: translateX(-19vw) translateY(46vh) scale(0.33); }
  94.4444444444% {
    transform: translateX(-47vw) translateY(16vh) scale(0.59); }
  100% {
    transform: translateX(-48vw) translateY(39vh) scale(0.82); } }
.firefly:nth-child(6) {
  animation-name: move6; }
  .firefly:nth-child(6)::before {
    animation-duration: 11s; }
  .firefly:nth-child(6)::after {
    animation-duration: 11s, 10202ms;
    animation-delay: 0ms, 2746ms; }

@keyframes move6 {
  0% {
    transform: translateX(34vw) translateY(6vh) scale(0.57); }
  4.7619047619% {
    transform: translateX(40vw) translateY(-16vh) scale(0.49); }
  9.5238095238% {
    transform: translateX(-33vw) translateY(34vh) scale(0.44); }
  14.2857142857% {
    transform: translateX(27vw) translateY(10vh) scale(0.45); }
  19.0476190476% {
    transform: translateX(37vw) translateY(6vh) scale(0.37); }
  23.8095238095% {
    transform: translateX(-16vw) translateY(22vh) scale(0.28); }
  28.5714285714% {
    transform: translateX(-4vw) translateY(50vh) scale(0.99); }
  33.3333333333% {
    transform: translateX(12vw) translateY(7vh) scale(0.31); }
  38.0952380952% {
    transform: translateX(-17vw) translateY(-26vh) scale(0.98); }
  42.8571428571% {
    transform: translateX(47vw) translateY(-13vh) scale(0.65); }
  47.619047619% {
    transform: translateX(31vw) translateY(-18vh) scale(0.86); }
  52.380952381% {
    transform: translateX(-23vw) translateY(15vh) scale(0.53); }
  57.1428571429% {
    transform: translateX(-30vw) translateY(-30vh) scale(0.52); }
  61.9047619048% {
    transform: translateX(-5vw) translateY(-35vh) scale(0.27); }
  66.6666666667% {
    transform: translateX(32vw) translateY(41vh) scale(0.26); }
  71.4285714286% {
    transform: translateX(40vw) translateY(20vh) scale(0.83); }
  76.1904761905% {
    transform: translateX(-10vw) translateY(-35vh) scale(0.92); }
  80.9523809524% {
    transform: translateX(45vw) translateY(4vh) scale(0.5); }
  85.7142857143% {
    transform: translateX(-28vw) translateY(-25vh) scale(0.82); }
  90.4761904762% {
    transform: translateX(-47vw) translateY(-35vh) scale(0.8); }
  95.2380952381% {
    transform: translateX(-6vw) translateY(23vh) scale(0.67); }
  100% {
    transform: translateX(46vw) translateY(27vh) scale(0.59); } }
.firefly:nth-child(7) {
  animation-name: move7; }
  .firefly:nth-child(7)::before {
    animation-duration: 18s; }
  .firefly:nth-child(7)::after {
    animation-duration: 18s, 8688ms;
    animation-delay: 0ms, 5767ms; }

@keyframes move7 {
  0% {
    transform: translateX(-4vw) translateY(2vh) scale(0.32); }
  4.347826087% {
    transform: translateX(0vw) translateY(-40vh) scale(0.94); }
  8.6956521739% {
    transform: translateX(-27vw) translateY(-35vh) scale(0.95); }
  13.0434782609% {
    transform: translateX(-2vw) translateY(4vh) scale(0.63); }
  17.3913043478% {
    transform: translateX(-34vw) translateY(10vh) scale(0.54); }
  21.7391304348% {
    transform: translateX(-11vw) translateY(19vh) scale(0.7); }
  26.0869565217% {
    transform: translateX(-15vw) translateY(1vh) scale(0.83); }
  30.4347826087% {
    transform: translateX(48vw) translateY(-20vh) scale(0.91); }
  34.7826086957% {
    transform: translateX(2vw) translateY(43vh) scale(0.61); }
  39.1304347826% {
    transform: translateX(29vw) translateY(-33vh) scale(0.52); }
  43.4782608696% {
    transform: translateX(7vw) translateY(-48vh) scale(0.36); }
  47.8260869565% {
    transform: translateX(26vw) translateY(47vh) scale(0.71); }
  52.1739130435% {
    transform: translateX(-16vw) translateY(13vh) scale(0.91); }
  56.5217391304% {
    transform: translateX(-38vw) translateY(45vh) scale(0.69); }
  60.8695652174% {
    transform: translateX(-2vw) translateY(15vh) scale(0.46); }
  65.2173913043% {
    transform: translateX(33vw) translateY(22vh) scale(0.69); }
  69.5652173913% {
    transform: translateX(-11vw) translateY(20vh) scale(0.69); }
  73.9130434783% {
    transform: translateX(-21vw) translateY(31vh) scale(0.41); }
  78.2608695652% {
    transform: translateX(17vw) translateY(-33vh) scale(0.52); }
  82.6086956522% {
    transform: translateX(28vw) translateY(9vh) scale(0.58); }
  86.9565217391% {
    transform: translateX(6vw) translateY(-19vh) scale(0.52); }
  91.3043478261% {
    transform: translateX(-5vw) translateY(-47vh) scale(0.52); }
  95.652173913% {
    transform: translateX(-45vw) translateY(39vh) scale(0.72); }
  100% {
    transform: translateX(39vw) translateY(-6vh) scale(0.49); } }
.firefly:nth-child(8) {
  animation-name: move8; }
  .firefly:nth-child(8)::before {
    animation-duration: 18s; }
  .firefly:nth-child(8)::after {
    animation-duration: 18s, 10410ms;
    animation-delay: 0ms, 7785ms; }

@keyframes move8 {
  0% {
    transform: translateX(-2vw) translateY(-21vh) scale(0.43); }
  4.347826087% {
    transform: translateX(-9vw) translateY(13vh) scale(0.6); }
  8.6956521739% {
    transform: translateX(50vw) translateY(-41vh) scale(0.63); }
  13.0434782609% {
    transform: translateX(-29vw) translateY(40vh) scale(0.56); }
  17.3913043478% {
    transform: translateX(-11vw) translateY(-33vh) scale(0.86); }
  21.7391304348% {
    transform: translateX(-41vw) translateY(24vh) scale(0.9); }
  26.0869565217% {
    transform: translateX(18vw) translateY(3vh) scale(1); }
  30.4347826087% {
    transform: translateX(-25vw) translateY(22vh) scale(0.78); }
  34.7826086957% {
    transform: translateX(19vw) translateY(-28vh) scale(0.76); }
  39.1304347826% {
    transform: translateX(-44vw) translateY(-38vh) scale(0.82); }
  43.4782608696% {
    transform: translateX(-47vw) translateY(15vh) scale(0.36); }
  47.8260869565% {
    transform: translateX(24vw) translateY(14vh) scale(0.39); }
  52.1739130435% {
    transform: translateX(36vw) translateY(30vh) scale(0.3); }
  56.5217391304% {
    transform: translateX(1vw) translateY(34vh) scale(0.26); }
  60.8695652174% {
    transform: translateX(-25vw) translateY(-20vh) scale(0.9); }
  65.2173913043% {
    transform: translateX(-44vw) translateY(33vh) scale(0.63); }
  69.5652173913% {
    transform: translateX(-8vw) translateY(-48vh) scale(0.61); }
  73.9130434783% {
    transform: translateX(-26vw) translateY(13vh) scale(0.65); }
  78.2608695652% {
    transform: translateX(-18vw) translateY(-23vh) scale(0.79); }
  82.6086956522% {
    transform: translateX(42vw) translateY(-44vh) scale(0.45); }
  86.9565217391% {
    transform: translateX(-44vw) translateY(-20vh) scale(0.72); }
  91.3043478261% {
    transform: translateX(-1vw) translateY(23vh) scale(0.69); }
  95.652173913% {
    transform: translateX(-39vw) translateY(-24vh) scale(0.77); }
  100% {
    transform: translateX(-41vw) translateY(-17vh) scale(0.46); } }
.firefly:nth-child(9) {
  animation-name: move9; }
  .firefly:nth-child(9)::before {
    animation-duration: 13s; }
  .firefly:nth-child(9)::after {
    animation-duration: 13s, 6070ms;
    animation-delay: 0ms, 7591ms; }

@keyframes move9 {
  0% {
    transform: translateX(-22vw) translateY(-26vh) scale(0.83); }
  4.347826087% {
    transform: translateX(8vw) translateY(-29vh) scale(0.54); }
  8.6956521739% {
    transform: translateX(39vw) translateY(-11vh) scale(0.96); }
  13.0434782609% {
    transform: translateX(25vw) translateY(41vh) scale(0.59); }
  17.3913043478% {
    transform: translateX(38vw) translateY(-29vh) scale(0.33); }
  21.7391304348% {
    transform: translateX(41vw) translateY(-21vh) scale(0.81); }
  26.0869565217% {
    transform: translateX(32vw) translateY(48vh) scale(0.31); }
  30.4347826087% {
    transform: translateX(50vw) translateY(-37vh) scale(0.89); }
  34.7826086957% {
    transform: translateX(-15vw) translateY(-30vh) scale(0.76); }
  39.1304347826% {
    transform: translateX(42vw) translateY(-24vh) scale(0.62); }
  43.4782608696% {
    transform: translateX(22vw) translateY(31vh) scale(0.77); }
  47.8260869565% {
    transform: translateX(-41vw) translateY(8vh) scale(0.85); }
  52.1739130435% {
    transform: translateX(48vw) translateY(8vh) scale(0.9); }
  56.5217391304% {
    transform: translateX(47vw) translateY(47vh) scale(0.53); }
  60.8695652174% {
    transform: translateX(19vw) translateY(1vh) scale(0.31); }
  65.2173913043% {
    transform: translateX(35vw) translateY(14vh) scale(0.75); }
  69.5652173913% {
    transform: translateX(-44vw) translateY(41vh) scale(0.32); }
  73.9130434783% {
    transform: translateX(-26vw) translateY(15vh) scale(0.98); }
  78.2608695652% {
    transform: translateX(40vw) translateY(-20vh) scale(0.36); }
  82.6086956522% {
    transform: translateX(28vw) translateY(9vh) scale(0.37); }
  86.9565217391% {
    transform: translateX(44vw) translateY(1vh) scale(0.97); }
  91.3043478261% {
    transform: translateX(6vw) translateY(42vh) scale(0.27); }
  95.652173913% {
    transform: translateX(15vw) translateY(-41vh) scale(0.75); }
  100% {
    transform: translateX(-32vw) translateY(-47vh) scale(0.3); } }
.firefly:nth-child(10) {
  animation-name: move10; }
  .firefly:nth-child(10)::before {
    animation-duration: 16s; }
  .firefly:nth-child(10)::after {
    animation-duration: 16s, 6763ms;
    animation-delay: 0ms, 8285ms; }

@keyframes move10 {
  0% {
    transform: translateX(45vw) translateY(36vh) scale(0.34); }
  3.7037037037% {
    transform: translateX(-9vw) translateY(-4vh) scale(0.69); }
  7.4074074074% {
    transform: translateX(22vw) translateY(-19vh) scale(0.79); }
  11.1111111111% {
    transform: translateX(38vw) translateY(44vh) scale(0.31); }
  14.8148148148% {
    transform: translateX(21vw) translateY(-4vh) scale(0.31); }
  18.5185185185% {
    transform: translateX(47vw) translateY(-4vh) scale(0.62); }
  22.2222222222% {
    transform: translateX(33vw) translateY(-12vh) scale(0.55); }
  25.9259259259% {
    transform: translateX(-30vw) translateY(2vh) scale(0.9); }
  29.6296296296% {
    transform: translateX(-32vw) translateY(-47vh) scale(0.35); }
  33.3333333333% {
    transform: translateX(11vw) translateY(-14vh) scale(0.77); }
  37.037037037% {
    transform: translateX(-46vw) translateY(-11vh) scale(0.49); }
  40.7407407407% {
    transform: translateX(-43vw) translateY(-29vh) scale(0.72); }
  44.4444444444% {
    transform: translateX(-41vw) translateY(28vh) scale(0.75); }
  48.1481481481% {
    transform: translateX(-40vw) translateY(-17vh) scale(0.44); }
  51.8518518519% {
    transform: translateX(21vw) translateY(31vh) scale(0.98); }
  55.5555555556% {
    transform: translateX(12vw) translateY(-29vh) scale(0.53); }
  59.2592592593% {
    transform: translateX(29vw) translateY(-6vh) scale(0.48); }
  62.962962963% {
    transform: translateX(-46vw) translateY(4vh) scale(0.77); }
  66.6666666667% {
    transform: translateX(17vw) translateY(-40vh) scale(0.81); }
  70.3703703704% {
    transform: translateX(-44vw) translateY(39vh) scale(0.44); }
  74.0740740741% {
    transform: translateX(-49vw) translateY(49vh) scale(0.4); }
  77.7777777778% {
    transform: translateX(2vw) translateY(-19vh) scale(0.32); }
  81.4814814815% {
    transform: translateX(32vw) translateY(28vh) scale(0.71); }
  85.1851851852% {
    transform: translateX(-24vw) translateY(44vh) scale(0.94); }
  88.8888888889% {
    transform: translateX(25vw) translateY(-10vh) scale(0.92); }
  92.5925925926% {
    transform: translateX(7vw) translateY(-9vh) scale(0.48); }
  96.2962962963% {
    transform: translateX(11vw) translateY(22vh) scale(0.75); }
  100% {
    transform: translateX(-1vw) translateY(-45vh) scale(0.68); } }
@keyframes drift {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw silver; }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw silver; } }
