.firefly {
  position: fixed;
  left: 25%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none; }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw; }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite; }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw silver;
    animation: drift ease alternate infinite, flash ease infinite; }

.firefly:nth-child(1) {
  animation-name: move1; }
  .firefly:nth-child(1)::before {
    animation-duration: 15s; }
  .firefly:nth-child(1)::after {
    animation-duration: 15s, 10317ms;
    animation-delay: 0ms, 4119ms; }

@keyframes move1 {
  0% {
    transform: translateX(1vw) translateY(49vh) scale(0.8); }
  4.5454545455% {
    transform: translateX(-8vw) translateY(-33vh) scale(0.8); }
  9.0909090909% {
    transform: translateX(-44vw) translateY(22vh) scale(0.33); }
  13.6363636364% {
    transform: translateX(7vw) translateY(16vh) scale(0.77); }
  18.1818181818% {
    transform: translateX(-24vw) translateY(36vh) scale(0.35); }
  22.7272727273% {
    transform: translateX(34vw) translateY(45vh) scale(0.38); }
  27.2727272727% {
    transform: translateX(33vw) translateY(-48vh) scale(0.5); }
  31.8181818182% {
    transform: translateX(-13vw) translateY(-36vh) scale(0.6); }
  36.3636363636% {
    transform: translateX(0vw) translateY(14vh) scale(0.72); }
  40.9090909091% {
    transform: translateX(50vw) translateY(-39vh) scale(0.36); }
  45.4545454545% {
    transform: translateX(11vw) translateY(33vh) scale(0.27); }
  50% {
    transform: translateX(42vw) translateY(-18vh) scale(0.42); }
  54.5454545455% {
    transform: translateX(42vw) translateY(-43vh) scale(0.55); }
  59.0909090909% {
    transform: translateX(-12vw) translateY(-15vh) scale(0.8); }
  63.6363636364% {
    transform: translateX(20vw) translateY(8vh) scale(0.39); }
  68.1818181818% {
    transform: translateX(-34vw) translateY(25vh) scale(0.83); }
  72.7272727273% {
    transform: translateX(34vw) translateY(31vh) scale(0.51); }
  77.2727272727% {
    transform: translateX(20vw) translateY(47vh) scale(0.65); }
  81.8181818182% {
    transform: translateX(-45vw) translateY(8vh) scale(0.98); }
  86.3636363636% {
    transform: translateX(-37vw) translateY(50vh) scale(0.66); }
  90.9090909091% {
    transform: translateX(1vw) translateY(-34vh) scale(0.47); }
  95.4545454545% {
    transform: translateX(-27vw) translateY(3vh) scale(0.81); }
  100% {
    transform: translateX(-25vw) translateY(15vh) scale(0.56); } }
.firefly:nth-child(2) {
  animation-name: move2; }
  .firefly:nth-child(2)::before {
    animation-duration: 11s; }
  .firefly:nth-child(2)::after {
    animation-duration: 11s, 8496ms;
    animation-delay: 0ms, 4485ms; }

@keyframes move2 {
  0% {
    transform: translateX(-1vw) translateY(7vh) scale(0.88); }
  4% {
    transform: translateX(-4vw) translateY(24vh) scale(0.82); }
  8% {
    transform: translateX(-1vw) translateY(1vh) scale(0.7); }
  12% {
    transform: translateX(-3vw) translateY(-20vh) scale(0.38); }
  16% {
    transform: translateX(-49vw) translateY(-26vh) scale(0.41); }
  20% {
    transform: translateX(50vw) translateY(16vh) scale(1); }
  24% {
    transform: translateX(-33vw) translateY(22vh) scale(0.87); }
  28% {
    transform: translateX(42vw) translateY(37vh) scale(0.89); }
  32% {
    transform: translateX(-40vw) translateY(27vh) scale(0.62); }
  36% {
    transform: translateX(19vw) translateY(18vh) scale(0.64); }
  40% {
    transform: translateX(-39vw) translateY(2vh) scale(0.72); }
  44% {
    transform: translateX(36vw) translateY(38vh) scale(0.67); }
  48% {
    transform: translateX(31vw) translateY(-12vh) scale(0.78); }
  52% {
    transform: translateX(24vw) translateY(34vh) scale(0.61); }
  56% {
    transform: translateX(-11vw) translateY(25vh) scale(0.32); }
  60% {
    transform: translateX(9vw) translateY(-20vh) scale(0.88); }
  64% {
    transform: translateX(22vw) translateY(-18vh) scale(0.72); }
  68% {
    transform: translateX(-6vw) translateY(38vh) scale(0.42); }
  72% {
    transform: translateX(37vw) translateY(-38vh) scale(0.6); }
  76% {
    transform: translateX(-9vw) translateY(-20vh) scale(0.87); }
  80% {
    transform: translateX(-49vw) translateY(-19vh) scale(0.87); }
  84% {
    transform: translateX(-36vw) translateY(-33vh) scale(0.99); }
  88% {
    transform: translateX(50vw) translateY(-46vh) scale(0.9); }
  92% {
    transform: translateX(44vw) translateY(14vh) scale(0.96); }
  96% {
    transform: translateX(-49vw) translateY(-34vh) scale(0.9); }
  100% {
    transform: translateX(28vw) translateY(15vh) scale(0.28); } }
.firefly:nth-child(3) {
  animation-name: move3; }
  .firefly:nth-child(3)::before {
    animation-duration: 9s; }
  .firefly:nth-child(3)::after {
    animation-duration: 9s, 10112ms;
    animation-delay: 0ms, 516ms; }

@keyframes move3 {
  0% {
    transform: translateX(-17vw) translateY(-40vh) scale(0.81); }
  4.347826087% {
    transform: translateX(-14vw) translateY(-27vh) scale(0.89); }
  8.6956521739% {
    transform: translateX(2vw) translateY(9vh) scale(0.85); }
  13.0434782609% {
    transform: translateX(-21vw) translateY(-39vh) scale(0.75); }
  17.3913043478% {
    transform: translateX(28vw) translateY(32vh) scale(0.93); }
  21.7391304348% {
    transform: translateX(-16vw) translateY(37vh) scale(0.63); }
  26.0869565217% {
    transform: translateX(-14vw) translateY(-16vh) scale(0.38); }
  30.4347826087% {
    transform: translateX(-46vw) translateY(19vh) scale(0.52); }
  34.7826086957% {
    transform: translateX(-39vw) translateY(46vh) scale(0.49); }
  39.1304347826% {
    transform: translateX(28vw) translateY(-3vh) scale(0.46); }
  43.4782608696% {
    transform: translateX(46vw) translateY(5vh) scale(0.91); }
  47.8260869565% {
    transform: translateX(42vw) translateY(4vh) scale(0.75); }
  52.1739130435% {
    transform: translateX(-24vw) translateY(40vh) scale(0.8); }
  56.5217391304% {
    transform: translateX(-40vw) translateY(-4vh) scale(0.36); }
  60.8695652174% {
    transform: translateX(-39vw) translateY(43vh) scale(0.48); }
  65.2173913043% {
    transform: translateX(35vw) translateY(47vh) scale(0.88); }
  69.5652173913% {
    transform: translateX(14vw) translateY(2vh) scale(0.94); }
  73.9130434783% {
    transform: translateX(-9vw) translateY(17vh) scale(0.5); }
  78.2608695652% {
    transform: translateX(48vw) translateY(16vh) scale(0.42); }
  82.6086956522% {
    transform: translateX(34vw) translateY(23vh) scale(0.69); }
  86.9565217391% {
    transform: translateX(15vw) translateY(-40vh) scale(0.96); }
  91.3043478261% {
    transform: translateX(-48vw) translateY(7vh) scale(0.7); }
  95.652173913% {
    transform: translateX(-35vw) translateY(5vh) scale(0.72); }
  100% {
    transform: translateX(-12vw) translateY(23vh) scale(0.83); } }
.firefly:nth-child(4) {
  animation-name: move4; }
  .firefly:nth-child(4)::before {
    animation-duration: 15s; }
  .firefly:nth-child(4)::after {
    animation-duration: 15s, 8925ms;
    animation-delay: 0ms, 3211ms; }

@keyframes move4 {
  0% {
    transform: translateX(-17vw) translateY(-7vh) scale(0.29); }
  5% {
    transform: translateX(-22vw) translateY(-37vh) scale(0.97); }
  10% {
    transform: translateX(-37vw) translateY(13vh) scale(0.52); }
  15% {
    transform: translateX(37vw) translateY(2vh) scale(0.66); }
  20% {
    transform: translateX(-23vw) translateY(21vh) scale(0.84); }
  25% {
    transform: translateX(20vw) translateY(-29vh) scale(0.31); }
  30% {
    transform: translateX(-46vw) translateY(-18vh) scale(0.49); }
  35% {
    transform: translateX(40vw) translateY(-43vh) scale(0.84); }
  40% {
    transform: translateX(5vw) translateY(1vh) scale(0.57); }
  45% {
    transform: translateX(-4vw) translateY(39vh) scale(0.33); }
  50% {
    transform: translateX(-47vw) translateY(1vh) scale(0.79); }
  55% {
    transform: translateX(13vw) translateY(-20vh) scale(0.77); }
  60% {
    transform: translateX(-25vw) translateY(-45vh) scale(0.45); }
  65% {
    transform: translateX(-32vw) translateY(47vh) scale(0.41); }
  70% {
    transform: translateX(-16vw) translateY(34vh) scale(0.72); }
  75% {
    transform: translateX(-29vw) translateY(-31vh) scale(0.78); }
  80% {
    transform: translateX(1vw) translateY(-43vh) scale(0.79); }
  85% {
    transform: translateX(38vw) translateY(-13vh) scale(0.54); }
  90% {
    transform: translateX(-29vw) translateY(18vh) scale(0.47); }
  95% {
    transform: translateX(46vw) translateY(37vh) scale(0.32); }
  100% {
    transform: translateX(9vw) translateY(-9vh) scale(0.65); } }
.firefly:nth-child(5) {
  animation-name: move5; }
  .firefly:nth-child(5)::before {
    animation-duration: 16s; }
  .firefly:nth-child(5)::after {
    animation-duration: 16s, 9701ms;
    animation-delay: 0ms, 2554ms; }

@keyframes move5 {
  0% {
    transform: translateX(47vw) translateY(-39vh) scale(0.92); }
  3.8461538462% {
    transform: translateX(-41vw) translateY(-41vh) scale(0.3); }
  7.6923076923% {
    transform: translateX(-49vw) translateY(-4vh) scale(0.94); }
  11.5384615385% {
    transform: translateX(18vw) translateY(2vh) scale(0.91); }
  15.3846153846% {
    transform: translateX(14vw) translateY(-37vh) scale(0.3); }
  19.2307692308% {
    transform: translateX(45vw) translateY(29vh) scale(0.65); }
  23.0769230769% {
    transform: translateX(-18vw) translateY(-35vh) scale(0.31); }
  26.9230769231% {
    transform: translateX(-49vw) translateY(32vh) scale(0.7); }
  30.7692307692% {
    transform: translateX(44vw) translateY(32vh) scale(0.62); }
  34.6153846154% {
    transform: translateX(-48vw) translateY(-2vh) scale(0.54); }
  38.4615384615% {
    transform: translateX(39vw) translateY(40vh) scale(0.52); }
  42.3076923077% {
    transform: translateX(-28vw) translateY(-24vh) scale(0.67); }
  46.1538461538% {
    transform: translateX(-33vw) translateY(-48vh) scale(0.55); }
  50% {
    transform: translateX(-43vw) translateY(20vh) scale(0.63); }
  53.8461538462% {
    transform: translateX(21vw) translateY(8vh) scale(0.34); }
  57.6923076923% {
    transform: translateX(-34vw) translateY(49vh) scale(0.8); }
  61.5384615385% {
    transform: translateX(48vw) translateY(-35vh) scale(0.95); }
  65.3846153846% {
    transform: translateX(-1vw) translateY(47vh) scale(0.86); }
  69.2307692308% {
    transform: translateX(-5vw) translateY(1vh) scale(0.98); }
  73.0769230769% {
    transform: translateX(18vw) translateY(24vh) scale(0.3); }
  76.9230769231% {
    transform: translateX(6vw) translateY(-1vh) scale(0.52); }
  80.7692307692% {
    transform: translateX(-10vw) translateY(45vh) scale(0.71); }
  84.6153846154% {
    transform: translateX(-46vw) translateY(-9vh) scale(0.78); }
  88.4615384615% {
    transform: translateX(-24vw) translateY(-21vh) scale(0.74); }
  92.3076923077% {
    transform: translateX(-45vw) translateY(-13vh) scale(0.82); }
  96.1538461538% {
    transform: translateX(8vw) translateY(-21vh) scale(0.43); }
  100% {
    transform: translateX(29vw) translateY(3vh) scale(0.74); } }
.firefly:nth-child(6) {
  animation-name: move6; }
  .firefly:nth-child(6)::before {
    animation-duration: 17s; }
  .firefly:nth-child(6)::after {
    animation-duration: 17s, 5946ms;
    animation-delay: 0ms, 2092ms; }

@keyframes move6 {
  0% {
    transform: translateX(-29vw) translateY(38vh) scale(0.64); }
  5.8823529412% {
    transform: translateX(11vw) translateY(-13vh) scale(0.38); }
  11.7647058824% {
    transform: translateX(-32vw) translateY(30vh) scale(0.3); }
  17.6470588235% {
    transform: translateX(-20vw) translateY(-22vh) scale(0.48); }
  23.5294117647% {
    transform: translateX(-36vw) translateY(-4vh) scale(0.71); }
  29.4117647059% {
    transform: translateX(-48vw) translateY(7vh) scale(0.83); }
  35.2941176471% {
    transform: translateX(-26vw) translateY(33vh) scale(0.81); }
  41.1764705882% {
    transform: translateX(40vw) translateY(47vh) scale(0.82); }
  47.0588235294% {
    transform: translateX(44vw) translateY(41vh) scale(0.54); }
  52.9411764706% {
    transform: translateX(-8vw) translateY(-3vh) scale(0.82); }
  58.8235294118% {
    transform: translateX(-25vw) translateY(14vh) scale(0.39); }
  64.7058823529% {
    transform: translateX(-16vw) translateY(-11vh) scale(0.35); }
  70.5882352941% {
    transform: translateX(36vw) translateY(34vh) scale(0.74); }
  76.4705882353% {
    transform: translateX(-27vw) translateY(11vh) scale(0.45); }
  82.3529411765% {
    transform: translateX(-27vw) translateY(-9vh) scale(0.51); }
  88.2352941176% {
    transform: translateX(-8vw) translateY(50vh) scale(0.93); }
  94.1176470588% {
    transform: translateX(5vw) translateY(-42vh) scale(0.89); }
  100% {
    transform: translateX(41vw) translateY(22vh) scale(0.65); } }
.firefly:nth-child(7) {
  animation-name: move7; }
  .firefly:nth-child(7)::before {
    animation-duration: 9s; }
  .firefly:nth-child(7)::after {
    animation-duration: 9s, 8722ms;
    animation-delay: 0ms, 6198ms; }

@keyframes move7 {
  0% {
    transform: translateX(49vw) translateY(31vh) scale(0.81); }
  3.8461538462% {
    transform: translateX(-1vw) translateY(-8vh) scale(1); }
  7.6923076923% {
    transform: translateX(18vw) translateY(-1vh) scale(0.6); }
  11.5384615385% {
    transform: translateX(48vw) translateY(-28vh) scale(0.45); }
  15.3846153846% {
    transform: translateX(-48vw) translateY(26vh) scale(0.91); }
  19.2307692308% {
    transform: translateX(11vw) translateY(-5vh) scale(0.79); }
  23.0769230769% {
    transform: translateX(-17vw) translateY(18vh) scale(0.52); }
  26.9230769231% {
    transform: translateX(-2vw) translateY(49vh) scale(0.63); }
  30.7692307692% {
    transform: translateX(-39vw) translateY(-8vh) scale(0.39); }
  34.6153846154% {
    transform: translateX(17vw) translateY(-44vh) scale(0.9); }
  38.4615384615% {
    transform: translateX(-6vw) translateY(-38vh) scale(0.9); }
  42.3076923077% {
    transform: translateX(-19vw) translateY(-12vh) scale(0.65); }
  46.1538461538% {
    transform: translateX(18vw) translateY(22vh) scale(0.88); }
  50% {
    transform: translateX(-22vw) translateY(-42vh) scale(0.92); }
  53.8461538462% {
    transform: translateX(-18vw) translateY(-41vh) scale(0.63); }
  57.6923076923% {
    transform: translateX(-29vw) translateY(-12vh) scale(0.28); }
  61.5384615385% {
    transform: translateX(-47vw) translateY(47vh) scale(0.51); }
  65.3846153846% {
    transform: translateX(29vw) translateY(16vh) scale(0.82); }
  69.2307692308% {
    transform: translateX(-11vw) translateY(31vh) scale(0.95); }
  73.0769230769% {
    transform: translateX(45vw) translateY(-44vh) scale(0.98); }
  76.9230769231% {
    transform: translateX(2vw) translateY(-30vh) scale(0.54); }
  80.7692307692% {
    transform: translateX(-44vw) translateY(10vh) scale(0.35); }
  84.6153846154% {
    transform: translateX(24vw) translateY(-37vh) scale(0.31); }
  88.4615384615% {
    transform: translateX(5vw) translateY(-28vh) scale(0.87); }
  92.3076923077% {
    transform: translateX(-49vw) translateY(26vh) scale(0.49); }
  96.1538461538% {
    transform: translateX(-28vw) translateY(37vh) scale(0.37); }
  100% {
    transform: translateX(-5vw) translateY(44vh) scale(0.76); } }
.firefly:nth-child(8) {
  animation-name: move8; }
  .firefly:nth-child(8)::before {
    animation-duration: 14s; }
  .firefly:nth-child(8)::after {
    animation-duration: 14s, 5041ms;
    animation-delay: 0ms, 3055ms; }

@keyframes move8 {
  0% {
    transform: translateX(40vw) translateY(-24vh) scale(0.48); }
  4.5454545455% {
    transform: translateX(-11vw) translateY(50vh) scale(0.54); }
  9.0909090909% {
    transform: translateX(50vw) translateY(18vh) scale(0.66); }
  13.6363636364% {
    transform: translateX(-27vw) translateY(-17vh) scale(0.78); }
  18.1818181818% {
    transform: translateX(31vw) translateY(29vh) scale(0.57); }
  22.7272727273% {
    transform: translateX(27vw) translateY(43vh) scale(0.44); }
  27.2727272727% {
    transform: translateX(-48vw) translateY(-38vh) scale(0.64); }
  31.8181818182% {
    transform: translateX(40vw) translateY(-3vh) scale(0.63); }
  36.3636363636% {
    transform: translateX(3vw) translateY(50vh) scale(0.48); }
  40.9090909091% {
    transform: translateX(-17vw) translateY(-19vh) scale(0.95); }
  45.4545454545% {
    transform: translateX(-27vw) translateY(27vh) scale(0.67); }
  50% {
    transform: translateX(-35vw) translateY(-8vh) scale(0.59); }
  54.5454545455% {
    transform: translateX(-43vw) translateY(-11vh) scale(0.75); }
  59.0909090909% {
    transform: translateX(-49vw) translateY(-49vh) scale(0.64); }
  63.6363636364% {
    transform: translateX(-33vw) translateY(-19vh) scale(0.93); }
  68.1818181818% {
    transform: translateX(-18vw) translateY(-25vh) scale(0.26); }
  72.7272727273% {
    transform: translateX(41vw) translateY(-46vh) scale(0.82); }
  77.2727272727% {
    transform: translateX(-17vw) translateY(-48vh) scale(0.93); }
  81.8181818182% {
    transform: translateX(-47vw) translateY(-3vh) scale(0.96); }
  86.3636363636% {
    transform: translateX(31vw) translateY(42vh) scale(0.77); }
  90.9090909091% {
    transform: translateX(11vw) translateY(34vh) scale(0.76); }
  95.4545454545% {
    transform: translateX(15vw) translateY(38vh) scale(0.35); }
  100% {
    transform: translateX(-47vw) translateY(-19vh) scale(0.96); } }
.firefly:nth-child(9) {
  animation-name: move9; }
  .firefly:nth-child(9)::before {
    animation-duration: 9s; }
  .firefly:nth-child(9)::after {
    animation-duration: 9s, 8981ms;
    animation-delay: 0ms, 6403ms; }

@keyframes move9 {
  0% {
    transform: translateX(-29vw) translateY(-14vh) scale(0.72); }
  4.1666666667% {
    transform: translateX(-40vw) translateY(20vh) scale(0.78); }
  8.3333333333% {
    transform: translateX(44vw) translateY(30vh) scale(0.74); }
  12.5% {
    transform: translateX(38vw) translateY(-42vh) scale(0.95); }
  16.6666666667% {
    transform: translateX(-12vw) translateY(49vh) scale(0.7); }
  20.8333333333% {
    transform: translateX(27vw) translateY(36vh) scale(0.59); }
  25% {
    transform: translateX(-22vw) translateY(-6vh) scale(0.79); }
  29.1666666667% {
    transform: translateX(-17vw) translateY(12vh) scale(0.77); }
  33.3333333333% {
    transform: translateX(-35vw) translateY(33vh) scale(0.43); }
  37.5% {
    transform: translateX(16vw) translateY(21vh) scale(0.38); }
  41.6666666667% {
    transform: translateX(12vw) translateY(-31vh) scale(0.64); }
  45.8333333333% {
    transform: translateX(-38vw) translateY(-46vh) scale(0.28); }
  50% {
    transform: translateX(-16vw) translateY(34vh) scale(0.89); }
  54.1666666667% {
    transform: translateX(17vw) translateY(9vh) scale(0.87); }
  58.3333333333% {
    transform: translateX(-21vw) translateY(18vh) scale(0.43); }
  62.5% {
    transform: translateX(35vw) translateY(39vh) scale(0.88); }
  66.6666666667% {
    transform: translateX(-37vw) translateY(37vh) scale(0.81); }
  70.8333333333% {
    transform: translateX(-27vw) translateY(45vh) scale(0.71); }
  75% {
    transform: translateX(49vw) translateY(-39vh) scale(0.98); }
  79.1666666667% {
    transform: translateX(-11vw) translateY(18vh) scale(0.47); }
  83.3333333333% {
    transform: translateX(-24vw) translateY(-15vh) scale(0.71); }
  87.5% {
    transform: translateX(6vw) translateY(-10vh) scale(0.44); }
  91.6666666667% {
    transform: translateX(-42vw) translateY(48vh) scale(0.31); }
  95.8333333333% {
    transform: translateX(35vw) translateY(-29vh) scale(0.58); }
  100% {
    transform: translateX(32vw) translateY(1vh) scale(0.99); } }
.firefly:nth-child(10) {
  animation-name: move10; }
  .firefly:nth-child(10)::before {
    animation-duration: 11s; }
  .firefly:nth-child(10)::after {
    animation-duration: 11s, 10730ms;
    animation-delay: 0ms, 5103ms; }

@keyframes move10 {
  0% {
    transform: translateX(6vw) translateY(-12vh) scale(0.54); }
  3.8461538462% {
    transform: translateX(9vw) translateY(10vh) scale(0.53); }
  7.6923076923% {
    transform: translateX(-4vw) translateY(-49vh) scale(0.49); }
  11.5384615385% {
    transform: translateX(-1vw) translateY(-22vh) scale(0.62); }
  15.3846153846% {
    transform: translateX(-14vw) translateY(31vh) scale(0.45); }
  19.2307692308% {
    transform: translateX(-21vw) translateY(-47vh) scale(0.4); }
  23.0769230769% {
    transform: translateX(26vw) translateY(-44vh) scale(0.33); }
  26.9230769231% {
    transform: translateX(-3vw) translateY(45vh) scale(0.63); }
  30.7692307692% {
    transform: translateX(-21vw) translateY(-9vh) scale(0.56); }
  34.6153846154% {
    transform: translateX(20vw) translateY(-49vh) scale(0.55); }
  38.4615384615% {
    transform: translateX(47vw) translateY(2vh) scale(0.55); }
  42.3076923077% {
    transform: translateX(-2vw) translateY(21vh) scale(0.57); }
  46.1538461538% {
    transform: translateX(-7vw) translateY(-30vh) scale(0.66); }
  50% {
    transform: translateX(-38vw) translateY(-1vh) scale(0.98); }
  53.8461538462% {
    transform: translateX(30vw) translateY(10vh) scale(0.76); }
  57.6923076923% {
    transform: translateX(-49vw) translateY(36vh) scale(0.39); }
  61.5384615385% {
    transform: translateX(24vw) translateY(-26vh) scale(0.41); }
  65.3846153846% {
    transform: translateX(48vw) translateY(-33vh) scale(0.79); }
  69.2307692308% {
    transform: translateX(-5vw) translateY(11vh) scale(0.28); }
  73.0769230769% {
    transform: translateX(44vw) translateY(-35vh) scale(0.67); }
  76.9230769231% {
    transform: translateX(-2vw) translateY(-23vh) scale(0.3); }
  80.7692307692% {
    transform: translateX(-29vw) translateY(-10vh) scale(0.68); }
  84.6153846154% {
    transform: translateX(-49vw) translateY(-48vh) scale(0.35); }
  88.4615384615% {
    transform: translateX(38vw) translateY(40vh) scale(0.71); }
  92.3076923077% {
    transform: translateX(9vw) translateY(-37vh) scale(0.72); }
  96.1538461538% {
    transform: translateX(-41vw) translateY(10vh) scale(0.98); }
  100% {
    transform: translateX(37vw) translateY(-27vh) scale(0.67); } }
@keyframes drift {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw silver; }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw silver; } }
